# VacationPy
----

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store WeatherPy results into DataFrame

In [24]:
# Get file path and read file
csvpath = os.path.join('.','output_data','cities.csv')
cities_df = pd.read_csv(csvpath)
cities_df = cities_df.drop('Unnamed: 0', axis=1)
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Dikson,73.5069,80.5464,236.13,80.0,0.0,3.24,RU,1.612050e+09
1,Busselton,-33.6500,115.3333,293.71,71.0,0.0,0.89,AU,1.612050e+09
2,Cape Town,-33.9258,18.4232,295.37,77.0,75.0,1.54,ZA,1.612050e+09
3,Kahului,20.8947,-156.4700,299.15,57.0,40.0,8.23,US,1.612050e+09
4,George Town,5.4112,100.3354,298.15,83.0,20.0,3.13,MY,1.612050e+09
...,...,...,...,...,...,...,...,...,...
559,Santa Cruz del Norte,23.1539,-81.9236,296.15,73.0,20.0,5.14,CU,1.612050e+09
560,Mwene-Ditu,-7.0000,23.4500,292.26,92.0,100.0,0.93,CD,1.612050e+09
561,Fereydūnkenār,36.6864,52.5225,284.05,81.0,38.0,3.42,IR,1.612050e+09
562,Mīnāb,27.1467,57.0801,290.31,83.0,0.0,0.51,IR,1.612050e+09
563,Bandar,2.0500,99.7500,294.80,91.0,91.0,1.15,ID,1.612050e+09

### Humidity Heatmap

In [26]:
# Configure gmaps
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

# Get location and humidity
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]

# Plot on heat layer map
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,point_radius=3)

# Add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting vacation criteria

In [79]:
# Get cities with vacation conditions
vacation_df = cities_df.loc[(cities_df["Max Temp"] > 86) & (cities_df["Humidity"] < 30) &
                           (cities_df["Cloudiness"] < 30)]
vacation_df = vacation_df.dropna()
vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
151,Geraldton,-28.7667,114.6000,303.15,28.0,0.0,5.66,AU,1.612050e+09
183,Koubia,11.5833,-11.9000,292.25,25.0,1.0,0.31,GN,1.612050e+09
196,Bara,10.3744,10.7288,294.07,24.0,0.0,3.39,NG,1.612050e+09
244,Verāval,20.9000,70.3667,291.47,29.0,0.0,5.64,IN,1.612050e+09
255,Najrān,17.4924,44.1277,289.15,27.0,0.0,1.49,SA,1.612050e+09
284,Tonj,7.2737,28.6822,294.95,22.0,22.0,2.74,SS,1.612050e+09
316,Tokonou,9.6500,-9.7833,294.27,22.0,13.0,1.00,GN,1.612050e+09
322,Oodweyne,9.4092,45.0640,290.68,28.0,0.0,3.07,SO,1.612050e+09
346,Río Gallegos,-51.6226,-69.2181,291.15,29.0,0.0,7.72,AR,1.612050e+09
348,Ouallam,14.3188,2.0866,295.03,19.0,0.0,4.70,NE,1.612050e+09
363,Lere,10.3870,8.5726,291.18,26.0,0.0,2.07,NG,1.612050e+09
386,Gao,16.6362,1.6370,293.06,22.0,0.0,4.82,ML,1.612050e+09
387,Biltine,14.5333,20.9167,293.87,21.0,8.0,6.61,TD,1.612050e+09
393,Tanout,14.9709,8.8879,290.11,26.0,21.0,4.80,NE,1.612050e+09
405,Am Timan,11.0297,20.2827,295.18,21.0,2.0,3.44,TD,1.612050e+09
434,Savelugu,9.6244,-0.8253,300.32,16.0,10.0,3.31,GH,1.612050e+09
456,Kérouané,9.2667,-9.0167,295.31,21.0,24.0,1.10,GN,1.612050e+09
498,Ténenkou,14.4572,-4.9169,293.74,21.0,0.0,4.25,ML,1.612050e+09

### Hotel Map

In [80]:
hotel_df = vacation_df

In [81]:
# Create new column Hotel Name
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
151,Geraldton,-28.7667,114.6000,303.15,28.0,0.0,5.66,AU,1.612050e+09,
183,Koubia,11.5833,-11.9000,292.25,25.0,1.0,0.31,GN,1.612050e+09,
196,Bara,10.3744,10.7288,294.07,24.0,0.0,3.39,NG,1.612050e+09,
244,Verāval,20.9000,70.3667,291.47,29.0,0.0,5.64,IN,1.612050e+09,
255,Najrān,17.4924,44.1277,289.15,27.0,0.0,1.49,SA,1.612050e+09,
284,Tonj,7.2737,28.6822,294.95,22.0,22.0,2.74,SS,1.612050e+09,
316,Tokonou,9.6500,-9.7833,294.27,22.0,13.0,1.00,GN,1.612050e+09,
322,Oodweyne,9.4092,45.0640,290.68,28.0,0.0,3.07,SO,1.612050e+09,
346,Río Gallegos,-51.6226,-69.2181,291.15,29.0,0.0,7.72,AR,1.612050e+09,
348,Ouallam,14.3188,2.0866,295.03,19.0,0.0,4.70,NE,1.612050e+09,
363,Lere,10.3870,8.5726,291.18,26.0,0.0,2.07,NG,1.612050e+09,
386,Gao,16.6362,1.6370,293.06,22.0,0.0,4.82,ML,1.612050e+09,
387,Biltine,14.5333,20.9167,293.87,21.0,8.0,6.61,TD,1.612050e+09,
393,Tanout,14.9709,8.8879,290.11,26.0,21.0,4.80,NE,1.612050e+09,
405,Am Timan,11.0297,20.2827,295.18,21.0,2.0,3.44,TD,1.612050e+09,
434,Savelugu,9.6244,-0.8253,300.32,16.0,10.0,3.31,GH,1.612050e+09,
456,Kérouané,9.2667,-9.0167,295.31,21.0,24.0,1.10,GN,1.612050e+09,
498,Ténenkou,14.4572,-4.9169,293.74,21.0,0.0,4.25,ML,1.612050e+09,

In [94]:
index_list = hotel_df.index.values.tolist()

# URL parameters
lat = hotel_df["Lat"]
lng = hotel_df["Lng"]
radius = 5000
type_s = "lodging"

# Look for closest lodging and store in data frame
for i in index_list:
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=" + str(lat[i]) + "," + str(lng[i]) + "&radius=" + str(radius) + "&type=" + type_s + "&key=" + g_key
    #print(url)
    response = requests.get(url)
    json = response.json()
    
    if(json['status'] != "ZERO_RESULTS"):
        
        hotel_name = json['results'][0]['name']
        hotel_df.loc[i,"Hotel Name"] = hotel_name
    

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
151,Geraldton,-28.7667,114.6000,303.15,28.0,0.0,5.66,AU,1.612050e+09,Broadwater Mariner Resort
183,Koubia,11.5833,-11.9000,292.25,25.0,1.0,0.31,GN,1.612050e+09,Hôtel Mbalou Koubia
196,Bara,10.3744,10.7288,294.07,24.0,0.0,3.39,NG,1.612050e+09,
244,Verāval,20.9000,70.3667,291.47,29.0,0.0,5.64,IN,1.612050e+09,Lords Inn Somnath
255,Najrān,17.4924,44.1277,289.15,27.0,0.0,1.49,SA,1.612050e+09,محمد هادي ال فطيح
284,Tonj,7.2737,28.6822,294.95,22.0,22.0,2.74,SS,1.612050e+09,
316,Tokonou,9.6500,-9.7833,294.27,22.0,13.0,1.00,GN,1.612050e+09,
322,Oodweyne,9.4092,45.0640,290.68,28.0,0.0,3.07,SO,1.612050e+09,Eng Hiirey House
346,Río Gallegos,-51.6226,-69.2181,291.15,29.0,0.0,7.72,AR,1.612050e+09,Hotel Santa Cruz
348,Ouallam,14.3188,2.0866,295.03,19.0,0.0,4.70,NE,1.612050e+09,
363,Lere,10.3870,8.5726,291.18,26.0,0.0,2.07,NG,1.612050e+09,
386,Gao,16.6362,1.6370,293.06,22.0,0.0,4.82,ML,1.612050e+09,
387,Biltine,14.5333,20.9167,293.87,21.0,8.0,6.61,TD,1.612050e+09,Hôtel Trois Étoiles de Biltine
393,Tanout,14.9709,8.8879,290.11,26.0,21.0,4.80,NE,1.612050e+09,
405,Am Timan,11.0297,20.2827,295.18,21.0,2.0,3.44,TD,1.612050e+09,Palais du chef Canton Salamt
434,Savelugu,9.6244,-0.8253,300.32,16.0,10.0,3.31,GH,1.612050e+09,Yoo Naa's Palace
456,Kérouané,9.2667,-9.0167,295.31,21.0,24.0,1.10,GN,1.612050e+09,
498,Ténenkou,14.4572,-4.9169,293.74,21.0,0.0,4.25,ML,1.612050e+09,

In [95]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [96]:
# Add marker layer ontop of heat map
marker = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
fig.add_layer(marker)
fig

Figure(layout=FigureLayout(height='420px'))